body {
    background-color: #14191e;
    font-family: sans-serif;
}

h1 {
    color: honeydew;
    text-align: center;
}

p {
    color: honeydew;
    padding: 1%;
}
a {
    color: greenyellow;
    padding: 1%;
}